@import "tailwindcss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0d0f14;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #0d0f14;
  color: white;
  min-height: 100vh;
}

h1 {
  font-family: 'Syne', sans-serif;
}
